{% extends "../templates/Layouts/base_layout.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}

<div class="form">
    <div class="tab-content">
      <div id="signup">
        <h1>Edit your profile</h1>

       <form method="post">

        <div class="top-row">
          <div class="field-wrap">
            <label>
              First Name<span class="req">*</span>
            </label>
            <input type="text" name="firstname" value={{users.firstName}} required autocomplete="off" />
          </div>

          <div class="field-wrap">
            <label>
              Last Name<span class="req">*</span>
            </label>
            <input type="text" name="lastname" value={{users.lastName}} required autocomplete="off"/>
          </div>
        </div>

        <div class="field-wrap">
          <label>
            Email Address<span class="req">*</span>
          </label>
          <input type="email" name="email" value ={{users.email}} required autocomplete="off"/>
        </div>

        <div class="field-wrap">
          <label>
            Set A Password<span class="req">*</span>
          </label>
          <input type="password" name="password" value="{{users.password}}" required autocomplete="off"/>
        </div>

        <button type="submit" class="button button-block"/>Edit Details</button>

        </form>

      </div>


    </div><!-- tab-content -->

</div> <!-- /form -->

{% endblock %}